<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="D_JEARM_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint15">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint15']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint16">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint16']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint17">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint17']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint21">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint21']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint22">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint22']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint23">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint23']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint24">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint24']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint25">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint25']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint26">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint26']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint27">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint27']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
